
/dts-v1/;

/ {
        #address-cells = <1>;
        #size-cells    = <1>;

        chosen {
            bootargs = "mem=8M@0x40000000 rootwait console=liteuart earlycon=sbi root=/dev/mmcblk0p2 init=/sbin/init swiotlb=32";
        };

        cpus {
            #address-cells = <1>;
            #size-cells    = <0>;
            timebase-frequency = <50000000>;

            cpu@0 {
                device_type = "cpu";
                compatible = "riscv";
                riscv,isa = "rv32ima";
                mmu-type = "riscv,sv32";
                reg = <0>;
		clock-frequency = <50000000>;
                status = "okay";
                L0: interrupt-controller {
                    #interrupt-cells = <0x00000001>;
                    interrupt-controller;
                    compatible = "riscv,cpu-intc";
                };
            };

    	};

        memory@40000000 {
            device_type = "memory";
            reg = <0x40000000 0x7c0000>;
        };

        reserved-memory {
            #address-cells = <1>;
            #size-cells    = <1>;
            ranges;
	    vexriscv_emulator@407c0000 {
		reg = <0x407c0000 0x20000>;
	    };
        };

        soc {
            #address-cells = <1>;
            #size-cells    = <1>;
            bus-frequency  = <50000000>;
            compatible = "simple-bus";
            ranges;

            soc_ctrl0: soc_controller@f0000000 {
                compatible = "litex,soc_controller";
                reg = <0xf0000000 0xc>;
                status = "okay";
            };

            intc0: interrupt-controller@f0c00000 {
                compatible = "sifive,plic-1.0.0", "sifive,fu540-c000-plic";
                reg = <0xf0c00000 0x400000>;
                #interrupt-cells = <1>;
                interrupt-controller;
                interrupts-extended = <
                    &L0 11 &L0 9>;
                riscv,ndev = <32>;
            };
    
            liteuart0: serial@f0001000 {
                device_type = "serial";
                compatible = "litex,liteuart";
                reg = <0xf0001000 0x100>;
                status = "okay";
            };

            mac0: mac@f0005000 {
                compatible = "litex,liteeth";
		interrupt-parent = <&intc0>;
		interrupts = <2>;
                reg = <0xf0005000 0x7c>,
                      <0xf0004800 0x10>,
                      <0xb0000000 0x4000>;
                tx-fifo-depth = <2>;
                rx-fifo-depth = <2>;
		mac-address = [10 e2 d5 00 00 00];
            };

            litespiflash: spiflash@f0003800 {
                #address-cells = <1>;
                #size-cells    = <1>;
                compatible = "litex,spiflash";
                reg = <0xf0003800 0x100>;
                flash: flash@0 {
                    compatible = "jedec,spi-nor";
                    reg = <0x0 0x1000000>;
                };
            };

            mmc0: mmc@f0005800 {
                compatible = "litex,mmc";
                reg = <
                    0xf0005800 0x100
                    0xf0006000 0x100
                    0xf0006800 0x100
                    0xf0007000 0x100>;
                bus-width = <0x04>;
                status = "okay";
            };

	    leds: gpio@f0003000 {
                compatible = "litex,gpio";
                reg = <0xf0003000 0x4>;
                litex,direction = "out";
                status = "disabled";
            };

        };

        aliases {

                serial0 = &liteuart0;

                spiflash = &litespiflash;

        };

};

&leds {
        litex,ngpio = <4>;
        status = "okay";
};
